<%= simple_form_for(@invoice) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :number %>
      <%= f.input :emission_date %>
      <%= f.input :value %>
      <%= f.input :vat %>
      <%= f.input :customer_id %>
    </div>

    <div id="invoice-rows">
    <p>numero righe: <%=@invoice.invoice_rows.count%></p>

    <%= inline_fields_for(f, :invoice_rows, '+ riga') %>

    <%= f.button :submit %>

<% end %>