<%= simple_form_for(@invoice) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :number %>
      <%= f.input :emission_date %>
      <%= f.input :value %>
      <%= f.input :vat %>
      <%= f.input :customer_id %>
    </div>

    <div id="invoice-rows">
    <p>numero righe: <%=@invoice.invoice_rows.count%></p>

    <%= f.inline_fields_for :invoice_rows %>
    </div>

    <%= f.link_to_add_inline_fields('Add riga', :invoice_rows) %>

    <%= f.button :submit %>

<% end %>