<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Emission date</th>
      <th>Value</th>
      <th>Vat</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.emission_date %></td>
        <td><%= invoice.value %></td>
        <td><%= invoice.vat %></td>
        <td><%= invoice.customer_id %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
