<% f ||= %>

<% div_id = "container_#{f.object.object_id}" %>

<div id="<%=div_id%>" class="form-inline inline-row row">

  <div class="row-data">
  <%= f.input :desc, as: :string , placeholder:'description', inline_label:true, label:false,
              wrapper_html: { class: 'col-xs-9'},
              input_html: { style: "width: 100%", data:{name: 'invoice_row[desc]'}}  %>
  <%= f.input :value, placeholder:'value', inline_label:true, label:false,
              wrapper_html: { class: 'col-xs-3'},
              input_html: { style: "width: 100%", data:{name: 'invoice_row[value]'}}  %>
  </div>

  <div class="row-actions">
    <%= f.input :_destroy, as: :hidden, input_html: { data: {destroy_field: 1} } %>
    <button type="button" class="row-remove" data-target="<%=div_id%>">Remove</button>
    <button type="button" class="row-edit" data-target="<%=div_id%>"
            data-edit-url="<%=form_for_invoice_rows_path%>">Edit</button>
  </div>

</div>