<%= f.inline_div do %>

  <%= f.inline_row_data do %>
    <%= f.inline_input :desc, as: :string, placeholder: 'description', inline_label:true, label:false, wrapper_html: { class: 'col-xs-11'}, input_html: { style: 'width: 100%' } %>

    <div class="col-xs-1">
      <%= f.object.value %>
    </div>

    <%= f.inline_input :value, as: :hidden %>
  <% end %>

  <%= f.inline_row_actions do %>
    <%= f.inline_button_remove('Remove') %>
    <%= f.inline_button_edit('Edit') %>
  <% end %>

<% end %>
