<h1>Listing invoice_rows</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Desc</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_rows.each do |invoice_row| %>
      <tr>
        <td><%= invoice_row.invoice_id %></td>
        <td><%= invoice_row.desc %></td>
        <td><%= invoice_row.value %></td>
        <td><%= link_to 'Show', invoice_row %></td>
        <td><%= link_to 'Edit', edit_invoice_row_path(invoice_row) %></td>
        <td><%= link_to 'Destroy', invoice_row, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice row', new_invoice_row_path %>
